<!DOCTYPE html>
<head>
  <title>Calculator</title>
  <link rel="stylesheet" href="../src/stylesheet.css"></link>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type="module" src="src/CorrelationCalculator.js"></script>
  <script type="module" src="src/RegressionCalculator.js"></script>
</head>
<body>
  <div id="vue-app">
    <h1>Calculator</h1>
    <h2>Correlation + Regression</h2>
    
    <div id="top-buttons">
      <input type="button" value="Reset Calculator" @click="resetCalculator">
      <input type="button" v-if="/Data Entry [1,2]/.test(displayScreen)" v-bind:value="inputMode === 'text' ? 'Switch to File Input' : 'Switch to Text Input'" @click="toggleInputMode">
      <a href="/">React UI</a>
    </div>
    
    <div class="app-screen" v-if="displayScreen === 'Data Entry 1' && inputMode === 'text'">
      <p>Please enter your first lot of data, separated by commas</p>
      
      <div class="data-input-container">
        <input class="data-input" v-model="inputString" @keyup.enter="processInput(1); changeScreen('Data Entry 2')"> <input type="button" class="data-submit" value="Submit Data" @click="processInput(1); changeScreen('Data Entry 2')">
      </div>
    </div>
    
    <div class="app-screen" v-else-if="displayScreen === 'Data Entry 1' && inputMode === 'file'">
      <p>Please load your first data file. Each data item should be on a new line.</p>
      
      <input type="file" @change="handleFileInput($event, 1); changeScreen('Data Entry 2')" key="data-input-1">
    </div>
    
    <div class="app-screen" v-else-if="displayScreen === 'Data Entry 2' && inputMode === 'text'">
      <p>Please enter your second lot of data, which must be the same length as the first, separated by commas</p>
      
      <div class="data-input-container">
        <input class="data-input" v-model="inputString" @keyup.enter="processInput(2); changeScreen('Choose Calculation')">
        <input type="button" class="data-submit" value="Submit Data" @click="processInput(2); changeScreen('Choose Calculation')">
      </div>
    </div>
    
    <div class="app-screen" v-else-if="displayScreen === 'Data Entry 2' && inputMode === 'file'">
      <p>Please load your second data file. Please ensure both files have the same amount of numbers.</p>
      
      <input type="file" @change="handleFileInput($event, 2); changeScreen('Choose Calculation')" key="data-input-2">
    </div>
    
    <div class="app-screen" v-else-if="displayScreen === 'Choose Calculation'">
      <p>Would you like to calculate the correlation or the regression of your data?</p>
      <div id="calcType-btns">
        <input type="button" value="Correlation" @click="setCalcType('correlation'); performCalculation(); changeScreen('Display Results')">
        <input type="button" value="Regression" @click="setCalcType('regression')">
      </div>
      
      <div  v-if="calcType === 'regression'">
        <p>Please enter an xK value for the calculation</p>
        <div class="data-input-container">
          <input v-model="inputString" @keyup.enter="setXK(); performCalculation(); changeScreen('Display Results')">
          <input type="button" class="data-submit" value="Start Calculation" @click="setXK(); performCalculation(); changeScreen('Display Results')">
        </div>
      </div>
    </div>
    
    <div class="app-screen" v-else-if="displayScreen === 'Display Results'">
      <h3>{{ calcType }} calculated!</h3>
      
      <ul>
        <li v-for="(value, key) in result">{{ key }}: {{ value }}</li>
      </ul>
    </div>
    
    <div class="app-screen" v-else>
      <!-- If result exists while there is an error, it is because a calculation failed -->
      <p id="error-message"><span v-if="result">Calculation Failed.</span> Error: {{ error }}</p>
    </div>
    
    <div id="data-display">
      <data-table v-if="inputArrayOne" v-bind:data="inputArrayOne"></data-table>
      
      <data-table v-if="inputArrayTwo" v-bind:data="inputArrayTwo"></data-table>
    </div>
    
    <script type="module" src="src/VueController.js"></script>
</body>